<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考勤查询系统登录</title>
    <link rel="shortcut icon" href="{% static 'image/index.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login.css' %}"/>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <form method="post">{% csrf_token %}
            <div><input type="text" required="required" placeholder="用户名" name="user" value="{{ username }}"></div>
            <div><input type="password" required="required" placeholder="密码" name="passwd" value="{{ passwd }}"></div>
            <p>{{ log }}</p>
            <button class="but" type="submit" name="submit">登录</button>
        </form>
    </div>
</body>
</html>