<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <title>ZEROTECH | Operation Network</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style-metro.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
    <!-- BEGIN PAGE CONTENT-->
<body>
<div class="show">
    <div class="subbox">
        <a href="/" class="up">外来人员网络申请</a>
        <a href="/openvpn" class="down">openVPN申请</a>
    </div>
</div>
<div class="portlet box " style="margin-left: 10%;">
    <div class="portlet-body form">
        <form action="" class="form-horizontal" method="post"> {% csrf_token %}
                <div class="tab-content">
                        <h3 class="block" style="line-height: 60px;">OpenVPN申请</h3>
                        <div class="control-group">
                            <label class="control-label">申请人<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="username" value="{{ username }}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">申请人邮箱<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="mail" placeholder="填写公司内部邮箱地址" value="{{ mail }}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">申请人部门<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" class="span6 m-wrap" name="department" value="{{ department }}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">申请原因<span class="required">*</span></label>
                            <div class="controls">
                                <textarea class="span6" rows="3" name="notes" placeholder="请填写详细原因...">{{ notes }}</textarea>
                            </div>
                        </div>
                    {% if log == 1 %}
                        <div class="alert alert-error" style="width: 30%;margin-left: 28%;">
                            <button class="close" data-dismiss="alert"></button>
                            <span>请正确填写申请信息！！！</span>
                        </div>
                    {% elif log == 2 %}
                        <div class="alert alert-error" style="width: 30%;margin-left: 28%;">
                            <button class="close" data-dismiss="alert"></button>
                            <span>邮箱格式不正确（请使用公司邮箱）</span>
                        </div>
                    {% elif log == 3 %}
                        <div class="alert alert-error" style="width: 30%;margin-left: 28%;">
                            <button class="close" data-dismiss="alert"></button>
                            <span>同一个人不能重复申请</span>
                        </div>
                    {% endif %}
                    <div class="control-group" style="line-height: 70px;">
                        <i class="control-label"></i>
                        <button class="btn blue button-next" id="button" name="Submit" type="Submit" value="Submit" style="width: 10%;">
                        提交</button>
                    </div>
                </div>
        </form>
    </div>
</div>
{% if xinxi != 1 %}
    <script>
        alert('申请已发送\n' +
        '申请人：{{ username }}\n' +
        '申请人部门：{{ department }}\n' +
        '申请原因：{{ notes }}\n' +
        '申请时间：{{ system_time }}\n');window.location.href='http://192.168.50.244:818/openvpn/';
    </script>
{% endif %}
</body>
